@model GerenciaVendas.Models.Usuario

<!-- Estrutura básica da página aqui -->

<h2>Detalhes do Usuário (Admin)</h2>

<!-- Exibir informações do usuário -->
<div>
    <h4>Nome:</h4>
    <p>@Model.Nome</p>
    <h4>Email:</h4>
    <p>@Model.Email</p>
    <!-- Outros campos conforme necessário -->
</div>
