@{
    ViewData["Title"] = "Sistema de Gerenciamento de Vendas";
}

<header class="bg-rocketseat-primary py-5 text-center text-white">
    <div class="container">
        <h1>Bem-vindo ao seu Sistema de Gerenciamento de Vendas</h1>
        <p class="lead">Transformando a maneira como você gerencia suas vendas e impulsiona seu negócio.</p>
    </div>
</header>

<section class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-3">
                <h2>Por que escolher nosso sistema?</h2>
                <p>Com nosso sistema de gerenciamento, você pode otimizar seus processos de venda, obter insights valiosos através de dados e melhorar a experiência do seu cliente, resultando em maior eficiência e lucratividade.</p>
            </div>
            <div class="col-md-6 my-3">
                <img src="/image/Gerencia.png" alt="Gerenciamento de Vendas" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="bg-rocketseat-secondary py-5 my-5">
    <div class="container text-center">
        <h2 class="text-white">Funcionalidades que Impulsionam o Sucesso</h2>
        <div class="row">
            <div class="col-md-4 my-3">
                <h3 class="text-white">Análise de Dados</h3>
                <p class="text-white-50">Obtenha insights profundos com relatórios detalhados e análises de vendas.</p>
            </div>
            <div class="col-md-4 my-3">
                <h3 class="text-white">Gerenciamento de Clientes</h3>
                <p class="text-white-50">Mantenha todos os seus dados de clientes seguros e acessíveis.</p>
            </div>
            <div class="col-md-4 my-3">
                <h3 class="text-white">Integração e Flexibilidade</h3>
                <p class="text-white-50">Integre facilmente com outras ferramentas e personalize conforme as necessidades do seu negócio.</p>
            </div>
        </div>
    </div>
</section>



@section Styles {
    <style>
        .bg-rocketseat-primary {
            background-color: #8257e5;
        }
        /* Cor principal */
        .bg-rocketseat-secondary {
            background-color: #6a2ea8;
        }
        /* Cor secundária */
        .bg-rocketseat-dark {
            background-color: #322660;
        }
        /* Cor escura */
        /* Adicione mais estilos personalizados aqui se necessário */
    </style>
}
